<div class="sidebar">
    <br><br><br>
    <img src="{{ '/img/name.png' | absolute_url }}" alt="Website Name" width="150" height="150" />
    <img src="{{ '/img/symbol.png' | absolute_url }}" alt="Website Symbol" width="150" height="150" />
    <br>
    <img src="{{ '/img/maxim.png' | absolute_url }}" 
    alt="DNA is software, protein is hardware, and the environment is the operating system." 
    style="width: 385px !important; height: 50px !important;" />
    <br><br>
    <h2><a href="{{ '/about.html' | absolute_url }}">About</a></h2>
    <h2><a href="{{ '/img/overview.png' | absolute_url }}">Metabolism Overview</a></h2>
    <h2><a href="{{ '/compound/' | absolute_url }}">Compounds</a></h2>
    <h2><a href="{{ '/enzyme/' | absolute_url }}">Enzymes</a></h2>
    <h2><a href="{{ '/video.html' | absolute_url }}">Short Video</a></h2>
</div>